* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #3751fe;
  margin: 100px; }

.contenedor {
  position: relative;
  width: 100%; }
  .contenedor .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #ffffff; }
    .contenedor .content .contenedor_login,
    .contenedor .content .contenedor_actions {
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 20px; }
    .contenedor .content .contenedor_login {
      width: 35%;
      height: 100%;
      background-color: #ffffff; }
      .contenedor .content .contenedor_login h1 {
        color: #3751fe;
        margin-bottom: 2em; }
      .contenedor .content .contenedor_login .contenedor_login_titulo {
        text-align: start;
        margin-bottom: 2em; }
        .contenedor .content .contenedor_login .contenedor_login_titulo h2 {
          color: #3751fe; }
        .contenedor .content .contenedor_login .contenedor_login_titulo p {
          margin-top: 0.5em;
          color: #555555; }
      .contenedor .content .contenedor_login .contenedor_login_form {
        margin-bottom: 2em; }
        .contenedor .content .contenedor_login .contenedor_login_form .contenedor_input {
          position: relative; }
          .contenedor .content .contenedor_login .contenedor_login_form .contenedor_input .input {
            width: 100%;
            height: 50px;
            outline: none;
            border: 1px solid #c1bbbb;
            padding: 1.8em 1em; }
            .contenedor .content .contenedor_login .contenedor_login_form .contenedor_input .input.input_activo {
              border-left: 1px solid #0c31f1; }
          .contenedor .content .contenedor_login .contenedor_login_form .contenedor_input .label {
            position: absolute;
            left: 0;
            margin-left: 1em;
            top: 12px;
            margin-bottom: 1em;
            transition: all 0.1s;
            bottom: 5em; }
        .contenedor .content .contenedor_login .contenedor_login_form .contenedor_login_form_recuerdame {
          margin-top: 1em;
          display: flex;
          justify-content: space-between;
          color: #555555;
          margin-bottom: 4em; }
          .contenedor .content .contenedor_login .contenedor_login_form .contenedor_login_form_recuerdame a {
            color: #555555;
            text-decoration: none; }
            .contenedor .content .contenedor_login .contenedor_login_form .contenedor_login_form_recuerdame a:hover {
              color: #363636; }
        .contenedor .content .contenedor_login .contenedor_login_form .contenedor_login_form_buttons {
          display: flex; }
          .contenedor .content .contenedor_login .contenedor_login_form .contenedor_login_form_buttons .form_buttons {
            width: 25%;
            height: 40px;
            margin-right: 1em;
            font-weight: 500;
            font-family: sans-serif;
            cursor: pointer; }
            .contenedor .content .contenedor_login .contenedor_login_form .contenedor_login_form_buttons .form_buttons.login {
              background-color: #3751fe;
              border: none;
              color: #ffffff; }
            .contenedor .content .contenedor_login .contenedor_login_form .contenedor_login_form_buttons .form_buttons.signup {
              border: 1px solid #3751fe;
              background-color: #ffffff;
              color: #3751fe; }
      .contenedor .content .contenedor_login .contenedor_login_footer {
        display: flex;
        justify-content: space-between; }
        .contenedor .content .contenedor_login .contenedor_login_footer a {
          text-decoration: none;
          color: #3751fe; }
          .contenedor .content .contenedor_login .contenedor_login_footer a.sociales {
            color: #3751fe;
            font-weight: 400; }
    .contenedor .content .contenedor_actions {
      width: 65%;
      height: 100vh;
      background-color: white; }
      .contenedor .content .contenedor_actions nav {
        width: 100%;
        margin-bottom: 2em; }
        .contenedor .content .contenedor_actions nav ul {
          display: flex;
          justify-content: center; }
          .contenedor .content .contenedor_actions nav ul li {
            list-style: none; }
            .contenedor .content .contenedor_actions nav ul li a {
              text-decoration: none;
              margin-right: 3em;
              color: #555555; }
              .contenedor .content .contenedor_actions nav ul li a.item_active {
                border-bottom: 2px solid #3751fe; }
      .contenedor .content .contenedor_actions section {
        display: flex;
        justify-content: center;
        align-items: center; }

@media (max-width: 1200px) {
  .contenedor .content .contenedor_login {
    width: 88%; } }
@media (max-width: 992px) {
  .contenedor .content .contenedor_actions {
    display: none; } }
@media (max-width: 824px) {
  .contenedor .content .contenedor_login {
    width: 100%; } }

/*# sourceMappingURL=estilo.css.map */
