$color_principal: #3751fe;
$color_textos: #555555;
$margin_bottom: 2em;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: $color_principal;
  margin: 100px;
}
.contenedor {
  position: relative;
  width: 100%;
  .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #ffffff;
    .contenedor_login,
    .contenedor_actions {
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 20px;
    }
    .contenedor_login {
      width: 35%;
      height: 100%;
      background-color: #ffffff;
      h1 {
        color: $color_principal;
        margin-bottom: $margin_bottom;
      }
      .contenedor_login_titulo {
        text-align: start;
        margin-bottom: $margin_bottom;
        h2 {
          color: $color_principal;
        }
        p {
          margin-top: 0.5em;
          color: $color_textos;
        }
      }
      .contenedor_login_form {
        margin-bottom: $margin_bottom;
        .contenedor_input {
          position: relative;
          .input {
            width: 100%;
            height: 50px;
            outline: none;
            border: 1px solid #c1bbbb;
            padding: 1.8em 1em;
            &.input_activo{
                border-left: 1px solid #0c31f1;
            }
        }
        .label{
            position: absolute;
            left: 0;
            margin-left: 1em;
            top: 12px;
            margin-bottom: 1em;
            transition: all 0.1s;
            bottom: 5em;
        }
    }
    .contenedor_login_form_recuerdame{
        margin-top: 1em;
        display: flex;
        justify-content: space-between;
        color: $color_textos;
        margin-bottom: $margin_bottom + 2em;
        a{
            color: $color_textos;
            text-decoration: none;
            &:hover{
                color: #363636;
            }
        }
    }
    .contenedor_login_form_buttons{
        display: flex;
        .form_buttons{
            width: 25%;
            height: 40px;
            margin-right: 1em;
            font-weight: 500;
            font-family: sans-serif;
            cursor: pointer;
            &.login{
                background-color: $color_principal;
                border: none;
                color: #ffffff;
            }
            &.signup{
                border: 1px solid $color_principal;
                background-color: #ffffff;
                color: $color_principal;
            }
        }
    }
}
        .contenedor_login_footer{
            display: flex;
            justify-content: space-between;
            a{
                text-decoration: none;
                color: $color_principal;
                &.sociales{
                    color: $color_principal;
                    font-weight: 400;
                }
            }
        }
    }
    .contenedor_actions{
        width: 65%;
        height: 100vh;
        background-color: rgb(255, 255, 255);
        nav{
            width: 100%;
            margin-bottom: $margin_bottom;
            ul{
                display: flex;
                justify-content: center;
                li{
                    list-style: none;
                    a{
                        text-decoration: none;
                        margin-right: 3em;
                        color: $color_textos;
                        &.item_active{
                            border-bottom: 2px solid $color_principal;
                        }
                    }
                }
            }
        }
        section{
            display: flex;
            justify-content: center;
            align-items: center;
            }
        }
    }
}
@media(max-width:1200px){
    .contenedor{
        .content{
            .contenedor_login{
                width: 88%;
            }
        }
    }
}
@media(max-width:992px){
    .contenedor{
        .content{
            .contenedor_actions{
                display: none;
            }
        }
    }
}
@media(max-width:824px){
    .contenedor{
        .content{
            .contenedor_login{
                width: 100%;
            }
        }
    }
}